<a href="https://colab.research.google.com/github/paiml/python_for_datascience/blob/master/Lesson6_Python_For_Data_Science_Data_Conversion_Recipes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 6: Data Conversion Recipes

## 6.1 Convert lists to dicts, and dicts to lists

### Converting Lists to Dictionaries

#### Create basic dictionary

In [9]:
d = dict( [('one', 1), ('two', 2), ('three', 3)] )
d

{'one': 1, 'three': 3, 'two': 2}

#### Zip two lists

In [10]:
instruments = [ 'violin', 'lute', 'banjo', 'accordian']
players = [ 'Anne-Sophie Mutter', 'Julian Bream', 'Noam Pikelny', 'Astor Pantaleón Piazzolla']

d = dict(zip(instruments, players))
d

{'accordian': 'Astor Pantaleón Piazzolla',
 'banjo': 'Noam Pikelny',
 'lute': 'Julian Bream',
 'violin': 'Anne-Sophie Mutter'}

#### From keys

In [11]:
racers = ['Tom', 'Bill', 'Will', 'Jill']
start_distance = 0
d = dict.fromkeys(racers, start_distance)
d

{'Bill': 0, 'Jill': 0, 'Tom': 0, 'Will': 0}

### Converting Dictionaries to  Lists

In [12]:
d = {'name': 'toby', 'id' : 14}
print( list(d) )
print( sorted(d) )
print( list(d.values()) )

['name', 'id']
['id', 'name']
['toby', 14]

## 6.2 Convert dicts to pandas Dataframe

### Create dict from DataFrame

In [13]:
from pandas import DataFrame

d = {'first': ['Jill', 'Solma', 'Elizabeth'], 'last': ['Stein', 'Smith', 'Tudor']}
DataFrame(data=d)

       first   last
0       Jill  Stein
1      Solma  Smith
2  Elizabeth  Tudor

In [15]:
DataFrame.from_dict(d)

        0        1        3
0  Edward   Robert     Earl
1   Tudor  Redford  Scruggs

### Create DataFrame with index orientation

In [17]:
d = {0: ['Edward', 'Tudor'], 1: ['Robert', 'Redford'], 3: ['Earl', 'Scruggs']}
df = DataFrame.from_dict(d, orient='index')
df.columns=['first', 'last']
df

    first     last
0  Edward    Tudor
1  Robert  Redford
3    Earl  Scruggs

In [16]:
d = {'a': 'A', 'b': 'B', 'c': 'C'}
df = DataFrame(list(d.items()), columns=['lower', 'upper'])
print(df)
#Dataframe.from_record

  lower upper
0     a     A
1     b     B
2     c     C

## 6.3 Convert characters to integers and back

In [0]:
print( float('12.3'))
# Casting to int
print( int('011') )
print( int('011', 2) )
print( int('011', 6) )
print( int('011', 6) )
print( int('011', 2) )
print( int('011', 8) ) 
print( int('011', 16) )

12.3
11
3
7
7
3
9
17
161

In [18]:
one = str(1)
print( type(one) )
f"{one!r} is a string"

<class 'str'>

"'1' is a string"

In [0]:
# ascii codes

## 6.4 Convert between hexadecimal, binary, and floats

### Conversion to and from Floats

In [0]:

a_float = str(12.4)
print( f" {a_float!r} is a {type(a_float)}" )

a_float = float(a_float)
print( f" {a_float!r} is a {type(a_float)}" )

 '12.4' is a <class 'str'>
 12.4 is a <class 'float'>

### Hexadecimal

In [0]:
nt_hex = hex(18)
print( f" hex(18) returns the {type(int_hex)}: {int_hex!r}" )

float_hex = 12.4.hex()
print( f" 12.4.hex() returns the {type(float_hex)}: {float_hex!r}" )

 hex(18) returns the <class 'str'>: '0x12'
 12.4.hex() returns the <class 'str'>: '0x1.8cccccccccccdp+3'

[hex function](https://docs.python.org/3/library/functions.html)

### Conversion to and from binary

In [0]:
import base64
bytes_str = b"Encode this string"
encoded_str = base64.b64encode(bytes_str)
print( encoded_str )

print( base64.b64decode(encoded_str))

b'RW5jb2RlIHRoaXMgc3RyaW5n'
b'Encode this string'

[base64-module](https://docs.python.org/3/library/base64.html#module-base64)

# Notes
- [Dictionaries](https://docs.python.org/3/tutorial/datastructures.html#dictionaries)
- [More on  lists](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists)
- [Dataframe.from_dict](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.from_dict.html)
- https://stackoverflow.com/questions/4576115/convert-a-list-to-a-dictionary-in-python
- https://thispointer.com/python-how-to-convert-a-list-to-dictionary/